flask
python-dotenv
wtforms
flask_wtf
Flask-Login
Flask-Bcrypt
flask-sqlalchemy
gunicorn
pymysql
dominate
pillow
plotly
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-daq
dash-auth
dash-cytoscape
dash-cytoscape-canvas
dash-cytoscape-stylesheet
dash-cytoscape-undo-redo
dash-cytoscape-contextmenu
dash-cytoscape-panzoom
dash-cytoscape-layout
dash-cytoscape-dagre
