<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewards</title>
    <link rel = "stylesheet" href="../static/rewards.css">
</head>
<body>
    <h1>Rewards to Claim</h1>

    <div class="reward">
        <img src="../static/images/Netflix.jpg" alt="Netflix Logo">
        <h2>Netflix Subscription</h2>
        <p>Enjoy unlimited movies and TV shows with a Netflix subscription. Claim your reward now!</p>
        <button>Claim</button>
    </div>

    <div class="reward">
        <img src="../static/images/Zepto.jpg" alt="Zepto Logo">
        <h2>Zepto Offer</h2>
        <p>Get exclusive discounts and offers with Zepto. Claim your reward today!</p>
        <button>Claim</button>
    </div>

    <div class="reward">
        <img src="../static/images/amazon.png" alt="Zepto Logo">
        <h2>Amazon Offer</h2>
        <p>Get exclusive discounts and offers with Amazon. Claim your reward today!</p>
        <button>Claim</button>
    </div>
</body>
</html>